<div class="container">
  <app-quote-form (addQuote)="addNewQuote($event)"></app-quote-form>
  <br>
  <p class="subtitle">Showing {{quotes.length}} quotes</p>
  <ul *ngFor="let quote of quotes">

    <div
      *ngIf="(quote.upvote-quote.downvote)> 0 && (quote.upvote-quote.downvote) == maxPerformanceIndex; then highlight else empty">

    </div>
    <ng-template #highlight>
      <mat-card appHighlight>
        <mat-card-title>
          <p class="title">{{quote.author}} </p>
        </mat-card-title>
        <mat-card-content>
          <code>
            <pre>
            "{{quote.quote}}"
            </pre>
          </code>

          <i>{{ quote.submittedby}} </i>
        </mat-card-content>
        <mat-card-actions>
          <button mat-icon-button (click)="upvoteQuote(quote)">
            {{quote.upvote}}
            <mat-icon>thumb_up</mat-icon>
          </button>
          <button mat-icon-button (click)="downvoteQuote(quote)">
            {{quote.downvote}}
            <mat-icon>thumb_down</mat-icon>
          </button>
        </mat-card-actions>
      </mat-card>
    </ng-template>
    <ng-template #empty>
      <mat-card>
        <mat-card-title>
          <p class="title">{{quote.author}} </p>
        </mat-card-title>
        <mat-card-content>

          <code>
            <pre>
            "{{quote.quote}}"
            </pre>
          </code>

          <i>{{ quote.submittedby}} </i>


        </mat-card-content>
        <mat-card-actions>
          <button (click)="upvoteQuote(quote)" mat-icon-button>
            {{quote.upvote}}
            <mat-icon>thumb_up</mat-icon>
          </button>
          <button (click)="downvoteQuote(quote)" mat-icon-button>
            {{quote.downvote}}
            <mat-icon>thumb_down</mat-icon>
          </button>
        </mat-card-actions>
      </mat-card>
    </ng-template>


  </ul>

</div>
