<div class="container">
  <div class="center">
    <button class="add-btn" mat-raised-button (click)='toggleform()'>
      <mat-icon>add_circle_outline</mat-icon> Add Quote
    </button>
  </div>
  <br>
  <br>
  <mat-card *ngIf="showform" class="add-form">

    <mat-card-header>
      <mat-card-title>Add a new quote</mat-card-title>
    </mat-card-header>
    <br>
    <mat-card-content>
      <form [formGroup]="addQuoteForm" (ngSubmit)="submitQuote()">

        <mat-form-field appearance="fill">
          <mat-label>Username</mat-label>
          <input matInput type="text" formControlName="submittedby" placeholder="Your name" />
        </mat-form-field>
        <br>
        <br>
        <mat-form-field appearance="fill">
          <mat-label>Quote</mat-label>
          <textarea matInput formControlName="quote" placeholder="Your quote"></textarea>
        </mat-form-field>

        <br>
        <br>

        <!-- author -->
        <mat-form-field appearance="fill">
          <mat-label>Author</mat-label>
          <input matInput type="text" formControlName="author" placeholder="Author" />
        </mat-form-field>

        <button mat-raised-button type="submit" class="add-btn-small">
          <mat-icon>save</mat-icon>
          Save changes
        </button>
      </form>
    </mat-card-content>

  </mat-card>

</div>
