@import 'https://fonts.googleapis.com/icon?family=Material+Icons';



@import url('https://fonts.googleapis.com/css2?family=Rubik&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');

html,
body {
  height: 100%;
  background-image: url('/assets/images/forest.jpg');
  background-repeat: repeat-y;
  /* no scroll */
  overflow: hidden;
}


* {

  font-family: "Rubik";
}

body {
  margin: 0;
}
